---
Language: Cpp
# RIFT uses C11 standard
Standard: c++11
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Linux
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<librift/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3
...
